body {
    background-image: url("assets/images/gemBackground.jpg");
}

.jumbotron {
    padding: 16px 0;
}

.targetNum {
    background-color: aquamarine;
}

.wins-losses {
    background-color: coral;
}
.img {
    width: 200px;
}

.score{
    background-color: purple;
}